<div *ngIf="!role" class="InitialRoleSelector">
  <button class="InitialRoleSelector__choice" (click)="role = 'top'">TOP</button>
  <button class="InitialRoleSelector__choice" (click)="role = 'jungle'">JUNGLE</button>
  <button class="InitialRoleSelector__choice" (click)="role = 'mid'">MID</button>
  <button class="InitialRoleSelector__choice" (click)="role = 'bottom'">BOTTOM</button>
  <button class="InitialRoleSelector__choice" (click)="role = 'support'">SUPPORT</button>
</div>

<div *ngIf="role" class="RoleSelector">
  <label>
    <select (change)="role = $event.target.value" class="RoleSelector__control">
      <option value="top"     [selected]="role === 'top'"     [disabled]="role === 'top'">TOP</option>
      <option value="jungle"  [selected]="role === 'jungle'"  [disabled]="role === 'jungle'">JUNGLE</option>
      <option value="mid"     [selected]="role === 'mid'"     [disabled]="role === 'mid'">MID</option>
      <option value="bottom"  [selected]="role === 'bottom'"  [disabled]="role === 'bottom'">BOTTOM</option>
      <option value="support" [selected]="role === 'support'" [disabled]="role === 'support'">SUPPORT</option>
    </select>
  </label>
</div>