select:invalid {
  color: grey;
}

.InitialRoleSelector {
  margin-left: 5px;

  &__choice {
    cursor: pointer;
  }
}

.RoleSelector {
  margin-left: 5px;

  &__control {
    text-transform: uppercase;
    font-family: Roboto, 'sans-serif';
    font-weight: bold;
  }
}