%clearfix {
  &:after {
    display: table;
    content: ' ';
    clear: both;
  }
}

.Details {
  &__sub-container {
    background: whitesmoke;
    margin-bottom: 8px;
  }

  &__header {
    padding: 0;
    margin: 0;
    font-family: Roboto, 'sans-serif';
  }
  &__header-dates {
    font-family: 'Roboto Condensed', 'sans-serif';
  }
  &__filter-number-input {
    width: 3em;
  }
  
  &__view-range-filter {
    display: table;
    &-value {
      padding: 0;
      margin: 0;
      text-align: center;
    }
  }
}