<div class="Details">
  <p class="Details__header">
    Details for {{played_champion_details.champion.name}}
    <span class="Details__header-dates">
      ({{getTimeAgoAsString(played_champion_details.most_recent_time_played)}} - {{getTimeAgoAsString(played_champion_details.oldest_time_played)}})
    </span>
  </p>
  <!-- Filters -->
  <label>
    <input type="radio" name="date-type-to" (change)="filtertype = 'datestring'"/>
    {{gettext('until_date')}}
  </label>
  <input type="text" [(ngModel)]="filter_datestring" placeholder="DD/MM/YYYY" />
  <br/>
  <label>
    <input type="radio" name="date-type-to" checked="checked" (change)="filtertype = 'month_ago'"/>
    {{gettext('until_month_ago')}} ({{played_champion_details.gamereferences.filter(monthAgoFilter).length}} {{gettext('games')}})
  </label>
  <br/>
  <label>
    <input type="radio" name="date-type-to" (change)="filtertype = 'nr_of_games'"/>
    {{gettext('until_nr_of_games')}}
  </label>
  <input class="Details__filter-number-input" type="number" [(ngModel)]="filter_nr_of_games"/>
  <br/>
  <!-- Executing downloads -->
  <button (click)="loadRecordsThenTimelines()" [disabled]="ongoing_request && !ongoing_request.closed">
    <span *ngIf="!ongoing_request || !ongoing_request.closed || ongoing_request.closed && loaded_items_habit">
      {{gettext('load')}} ({{getSelectedGames().length}} {{gettext('games')}})
    </span>
    <span *ngIf="ongoing_request && ongoing_request.closed && !loaded_items_habit">
      {{gettext('failed_try_again')}} ({{getSelectedGames().length}} {{gettext('games')}})
    </span>
  </button>

  <div *ngIf="loaded_items_habit" class="Details__view-range-filter">
    {{gettext('filter_loaded_games')}}<br/>
    <label>
      1
      <input #viewRange type="range" step="1" value="{{initial_loaded_records_length}}" min="1" max="{{initial_loaded_records_length}}" (change)="changeViewRange(viewRange.value)" />
      {{initial_loaded_records_length}}
    </label>
    <p class="Details__view-range-filter-value">{{viewRange.value < initial_loaded_records_length ? viewRange.value : initial_loaded_records_length}}</p>
  </div>

  <div *ngIf="loaded_firstblood_records" class="Details__sub-container">
    <firstblood-history
        [total_number_of_games]="loaded_records.length"
        [firstblood_records]="loaded_firstblood_records">
    </firstblood-history>
  </div>

  <div *ngIf="loaded_items_habit" class="Details__sub-container">
    <starting-items-history
        [total_number_of_games]="loaded_records.length"
        [starting_items_habit]="loaded_items_habit.starting">
    </starting-items-history>
  </div>

  <div *ngIf="loaded_items_habit" class="Details__sub-container">
    <finished-items-history
        [total_number_of_games]="loaded_records.length"
        [mostly_finished_items]="loaded_items_habit.mostly"
        [nth_finished_items]="loaded_items_habit.finished">
    </finished-items-history>
  </div>

  <div *ngIf="loaded_win_statistics" class="Details__sub-container">
    <winrate-graph
        [stats_by_date]="loaded_win_statistics">
    </winrate-graph>
  </div>
</div>