<div class="SummonerSelector">
  <div class="SummonerSelector__search">
    <input class="SummonerSelector__search-name-input"
           [(ngModel)]="search_term"
           (keyup.enter)="searchSummoner()"
           type="text"
           [disabled]="search_in_progress"
           placeholder="{{gettext('summoner_s_full_name')}}"
    />
    <button class="SummonerSelector__search-btn"
            (click)="searchSummoner()"
            [disabled]="search_in_progress">
      {{gettext("find")}}
    </button>
    <p class="SummonerSelector__search-error-text">
      {{error_text_key ? (gettext(error_text_key) + (error_details ? " ("+error_details+")" : "")) : ""}}
    </p>
  </div>
  <div class="SummonerSelector__history">
    <div class="SummonerSelector__history-title">
      <p class="SummonerSelector__history-title-text">
        {{gettext("historical_searches_title")}}
      </p>
      <button class="SummonerSelector__history-title-clear-btn"
              (click)="clearHistory()">
        {{gettext("clear_historical_searches")}}
      </button>
    </div>
    <a *ngFor="let h of search_history"
       class="SummonerSelector__history-link"
       href="#{{h.region+h.account_id}}"
       (click)="searchHistoricalSummoner(h.region, h.account_id)">
      <span class="SummonerSelector__history-link-name">{{h.name}}</span>
      <span class="SummonerSelector__history-link-uid">({{h.region}}#{{h.account_id}})</span>
    </a>
  </div>
</div>