<div>

  <label>
    Games on champion
    <select #championSelector (change)="loadPreviousGames(championSelector.value)" [disabled]="ongoing_request && !ongoing_request.closed">
      <option value="" selected="selected" disabled="disabled">Any</option>
      <option *ngFor="let c of getPlayedChampionsNameOrdered()" value="{{c.id}}">{{c.name}}</option>
    </select>
  </label>
  <button (click)="championSelector.value = ''; loadPreviousGames()" [disabled]="championSelector.value === '' || ongoing_request && !ongoing_request.closed">
    Reset
  </button>
  <br/>

  <p *ngIf="ongoing_request && !ongoing_request.closed">
    Loading game details of {{limit}} most recent games) . . .
  </p>

  <squarebrace-titled-container *ngFor="let c of days_ago_collections" class="DailyGames" [title]="'&nbsp;'+getDaysAgoAsString(c)+'&nbsp;'" [captionlike_title]="true">
    <span *ngFor="let s of c.contents" class="GameSummary"
          [class.GameSummary--win]="s.victory"
          [class.GameSummary--loss]="!s.victory">
      <img
          src="{{s.player_as_participant.champion.images.square_url}}"
          title="{{getTimeAgoAsString(s.start_time) + ' (' + Math.floor(s.duration/60) + 'min game)'}}"
          [style.width.px]="25"
          [style.height.px]="25"
      />
      <br/>
      {{s.kda}}
      <br/>
      <span title="{{s.cs_lane}} in lane">{{s.cs_lane+s.cs_jungle}} cs</span>
      <br/>
      <span title="Theoretical maximum 107 lane cs, 7 more spawns at exactly 10">{{s.cs_at_ten ? s.cs_at_ten+'cs @10' : ''}}</span>
      <br/>
      <span *ngIf="s.victory" title="{{s.nr_carry}}. carry in total damage to players">{{s.nr_carry}}. C</span>
      <br *ngIf="!s.victory"/>
    </span>
  </squarebrace-titled-container>

</div>