<div class="Details">
  <p class="Details__header">
    Details for {{played_champion_details.champion.name}}
    <span class="Details__header-dates">
      ({{getTimeAgoAsString(played_champion_details.most_recent_time_played)}} - {{getTimeAgoAsString(played_champion_details.oldest_time_played)}})
    </span>
  </p>
  <!-- Filters -->
  <label>
    <input type="radio" name="date-type-to" (change)="filtertype = 'datestring'"/>
    {{gettext('until_date')}}
  </label>
  <input type="text" [(ngModel)]="filter_datestring" placeholder="DD/MM/YYYY" />
  <br/>
  <label>
    <input type="radio" name="date-type-to" checked="checked" (change)="filtertype = 'month_ago'"/>
    {{gettext('until_month_ago')}} ({{played_champion_details.gamereferences.filter(monthAgoFilter).length}} {{gettext('games')}})
  </label>
  <br/>
  <label>
    <input type="radio" name="date-type-to" (change)="filtertype = 'nr_of_games'"/>
    {{gettext('until_nr_of_games')}}
  </label>
  <input class="Details__filter-number-input" type="number" [(ngModel)]="filter_nr_of_games"/>
  <br/>
  <!-- Executing downloads -->
  <button (click)="loadRecordsThenTimelines()" [disabled]="ongoing_request && !ongoing_request.closed">
    <span *ngIf="!ongoing_request || !ongoing_request.closed || ongoing_request.closed && loaded_items_habit">
      {{gettext('load')}} ({{getSelectedGames().length}} {{gettext('games')}})
    </span>
    <span *ngIf="ongoing_request && ongoing_request.closed && !loaded_items_habit">
      {{gettext('failed_try_again')}} ({{getSelectedGames().length}} {{gettext('games')}})
    </span>
  </button>
  <div *ngIf="loaded_items_habit" class="Details__view-range-filter">
    {{gettext('filter_loaded_games')}}
    <br/>
    <label>
      1
      <input #viewRange type="range" step="1" value="{{initial_loaded_records_length}}" min="1" max="{{initial_loaded_records_length}}" (change)="changeViewRange(viewRange.value)" />
      {{initial_loaded_records_length}}
    </label>
    <p class="Details__view-range-filter-value">{{viewRange.value < initial_loaded_records_length ? viewRange.value : initial_loaded_records_length}}</p>
  </div>

  <div *ngIf="loaded_items_habit">
    <hr/>
    <p class="Details__starting-items-header">{{gettext('starting_items_in_past')}} {{loaded_records.length}} {{gettext('games')}}</p>
    <div *ngFor="let starting_items of loaded_items_habit.starting.sort(reverseSortItemsByPercentage)">
      {{starting_items.percentage}}%
      <span *ngFor="let item of starting_items.items; let i=index">
        <img src="{{item.images.square_url}}" title="{{item.name + '&#013;&#010;&#013;&#010;' + item.description+''}}" />
        {{i !== starting_items.items.length-1 ? '+' : ''}}
      </span>
    </div>
  </div>
  <div *ngIf="loaded_items_habit" class="Details__items">
    <hr/>

    <p class="Details__items-header">{{gettext('finished_items_in_past')}} {{loaded_records.length}} {{gettext('games')}}</p>

    <div class="Details__items-mostly-table">
      <p class="Details__items-mostly-table-caption">{{gettext('likely_to_build_mostly')}}</p>
      <div *ngIf="loaded_items_habit.mostly.length > 0" class="Details__items-mostly-table-row">
        <div *ngFor="let record of loaded_items_habit.mostly.slice(0,3)" class="Details__items-mostly-table-div">
          <span class="Details__items-mostly-percentage">{{record.percentage}}%</span>
          <img
              src="{{record.item.images.square_url}}"
              title="{{
                record.item.name + ' (' + record.item.gold.total + 'g)'
                + '&#013;&#010;&#013;&#010;'
                + record.item.description+''
              }}"
          />
          <span *ngIf="record.earliest_finish === record.latest_finish" class="Details__items-mostly-order">
            ({{record.earliest_finish+1===1?'1st':(record.earliest_finish+1===2?'2nd':(record.earliest_finish+1===3?'3rd':(record.earliest_finish+1)+'th'))}})
          </span>
          <span *ngIf="record.earliest_finish !== record.latest_finish" class="Details__items-mostly-order">
            ({{record.earliest_finish+1===1?'1st':(record.earliest_finish+1===2?'2nd':(record.earliest_finish+1===3?'3rd':(record.earliest_finish+1)+'th'))}}
            -
            {{record.latest_finish+1===1?'1st':(record.latest_finish+1===2?'2nd':(record.latest_finish+1===3?'3rd':(record.latest_finish+1)+'th'))}})
          </span>
        </div>
      </div>
      <div *ngIf="loaded_items_habit.mostly.length > 3" class="Details__items-mostly-table-row">
        <div *ngFor="let record of loaded_items_habit.mostly.slice(3)" class="Details__items-mostly-table-div">
          <span class="Details__items-mostly-percentage">{{record.percentage}}%</span>
          <img
              src="{{record.item.images.square_url}}"
              title="{{
                record.item.name + ' (' + record.item.gold.total + 'g)'
                + '&#013;&#010;&#013;&#010;'
                + record.item.description+''
              }}"
          />
          <span *ngIf="record.earliest_finish === record.latest_finish" class="Details__items-mostly-order">
            ({{record.earliest_finish+1===1?'1st':(record.earliest_finish+1===2?'2nd':(record.earliest_finish+1===3?'3rd':(record.earliest_finish+1)+'th'))}})
          </span>
          <span *ngIf="record.earliest_finish !== record.latest_finish" class="Details__items-mostly-order">
            ({{record.earliest_finish+1===1?'1st':(record.earliest_finish+1===2?'2nd':(record.earliest_finish+1===3?'3rd':(record.earliest_finish+1)+'th'))}}
            -
            {{record.latest_finish+1===1?'1st':(record.latest_finish+1===2?'2nd':(record.latest_finish+1===3?'3rd':(record.latest_finish+1)+'th'))}})
          </span>
        </div>
      </div>
    </div>

    <p class="Details__items-order-header">{{gettext('percent_to_build_nth')}}</p>
    <div class="Details__items-first-six">
      <div *ngFor="let finished_nth_items of loaded_items_habit.finished.slice(0,6); let i=index" class="Details__item-first-six">
        <p class="Details__item-header">{{i+1===1?'1st':(i+1===2?'2nd':(i+1===3?'3rd':(i+1)+'th'))}} item</p>
        <!-- Items on top of each other (divs) -->
        <div *ngFor="let nth_item of finished_nth_items.sort(reverseSortItemsByPercentage); let k=index">
          <span class="Details__item-percentage">{{nth_item.percentage}}%</span>
          <img
              src="{{nth_item.item.images.square_url}}"
              title="{{
                nth_item.item.name + ' (' + nth_item.item.gold.total + 'g)'
                + '&#013;&#010;'
                + '[' + (i+1===1?'1st':(i+1===2?'2nd':(i+1===3?'3rd':(i+1)+'th')))
                  + ' item in ' + nth_item.count + ' ' + (nth_item.count > 1 ? gettext('games') : gettext('in_a_game')) + ']'
                + '&#013;&#010;&#013;&#010;'
                + nth_item.item.description+''
              }}"
          />
        </div>
      </div>
    </div>
    <div *ngFor="let finished_nth_items of loaded_items_habit.finished.slice(6); let i=index" class="Details__item-post-six">
      <p class="Details__item-header">{{(i+7)+'th'}} item</p>
      <!-- Remaining (7th+) items (if any) next to each other (spans) -->
      <span *ngFor="let nth_item of finished_nth_items.sort(reverseSortItemsByPercentage); let k=index">
        <span class="Details__item-percentage">{{nth_item.percentage}}%</span>
        <img
            src="{{nth_item.item.images.square_url}}"
            title="{{
              nth_item.item.name + ' (' + nth_item.item.gold.total + 'g)'
              + '&#013;&#010;'
              + '[' + (i+7)+'th'
                + ' item in ' + nth_item.count + ' ' + (nth_item.count > 1 ? gettext('games') : gettext('in_a_game')) + ']'
              + '&#013;&#010;&#013;&#010;'
              + nth_item.item.description+''
            }}"
        />
        {{k !== finished_nth_items.length-1 ? ', ' : ''}}
      </span>
    </div>

  </div>
</div>