.Title {
  padding: 0;
  margin: 0;
  text-align: center;
}

.ToggleButton {
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  background: grey;
  padding: 1px 4px;
  border: none;
  position: relative;
  top: -1px;
  cursor: pointer;
}

.StartingItemsSet {

  &__percentage {
    font-family: "Roboto Mono", monospace;
    position: relative;
    top: -2px;
    font-size: 14px;
    left: 5px;
  }
}

.StartingItem {
  &__icon {
    width: 30px;
    height: 30px;
    cursor: help;
  }
}