<div>
  <label>
    Show icons?
    <input type="checkbox" [(ngModel)]="display_icons" />
  </label>
  <label>
    Wait until all roles selected before statistics?
    <input type="checkbox" [(ngModel)]="wait_role_selection" />
  </label>
  <br/>
  <div [dragula]="'teammate-bag'" [dragulaModel]="teammates">
    <pre-game-teammate
        *ngFor="let s of teammates"
        [summoner]="s"
        [queueing_for]="queue"
        [display_summoner_icon]="display_icons"

        [champions]="champions"
        [items]="items"
        [summonerspells]="summonerspells"

        [hide_statistics]="wait_role_selection && roles_selected < teammates.length"
        (selectedInitialRole)="handleSelectedInitialRole()">
    </pre-game-teammate>
  </div>
</div>