button.active {
  border: 3px solid green;
}

.HeaderLanguageSelector {
  text-align: center;

  &__text {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-variant: small-caps;

    &--title {
      margin-bottom: 3px;
    }
  }
}