.PlayedChampions {

  &__title {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  &__table {
    display: inline;
  }
  &__toggle-details-btn {
    vertical-align: top;
    margin-left: 4px;
    border: 1px solid black;
    padding-bottom: 1px;
    font-family: Arial, serif;
  }
}

.PlayedChampionsTable {

  // (thead) > tr
  &__heading {
    display: table-row;
    font-family: Roboto, 'sans-serif';
    font-size: 14px;
    text-decoration: underline;
  }
  // th
  &__heading-name {
    display: table-cell;
  }
  // th
  &__heading-lanes {
    display: table-cell;
  }
  // th
  &__heading-nr-of-games {
    display: table-cell;
    padding: 0 5px;
  }
  //th
  &__heading-controls {
    display: table-cell;
  }

  // (tbody) > tr
  &__champion {
    display: table-row;
    &:nth-child(odd) {
      background: rgba(168, 168, 168, 0.3)
    }
    &:nth-child(even) {
      background: rgba(218, 218, 218, 0.3);
    }
    &--current-is-main {
      background: rgba(173, 255, 0, 0.3) !important;
    }
    &--current-isnt-main {
      background: rgba(255, 0, 0, 0.3) !important;
    }
  }
  // td
  &__champion-order {
    display: table-cell;
    padding: 0 5px;
    font-family: Roboto, 'sans-serif';
    .hilight {
      font-weight: bold;
    }
  }
  &__champion-name {
    display: table-cell;
    padding: 0 5px;
    font-family: Roboto, 'sans-serif';
  }
  // td
  &__champion-played-lanes {
    display: table-cell;
    padding: 0 5px;
    font-size: 14px;
    font-family: 'Roboto Condensed', 'sans-serif';
  }
  // td
  &__champion-nr-of-games {
    display: table-cell;
    padding: 0 5px;
    text-align: center;
    font-family: Roboto, 'sans-serif';
  }
  //td
  &__controls {
    display: table-cell;
    font-family: 'Roboto Condensed', 'sans-serif';
  }

  // tbody > tr etc.
  .filler-row { display: table-row; }
  .filler-cell { display: table-cell; }
}