<span class="PreferredLanes">
  <span
      *ngFor="let l of preferred_lanes"
      class="PreferredLanes__lane-name"
      [class.PreferredLanes__lane-name--current-high]="chosen_lane && l.lane_name === chosen_lane && l.percentage > 50"
      [class.PreferredLanes__lane-name--current-medium]="chosen_lane && l.lane_name === chosen_lane && l.percentage <= 50 && l.percentage > 25"
      [class.PreferredLanes__lane-name--current-low]="chosen_lane && l.lane_name === chosen_lane && l.percentage <= 25"
  >
    {{l.lane_name}} {{l.percentage}}%
    <span
        class="PreferredLanes__lane-percentage-bar"
        [class.PreferredLanes__lane-percentage-bar--high]="l.percentage > 50"
        [class.PreferredLanes__lane-percentage-bar--medium]="l.percentage <= 50 && l.percentage > 25"
        [class.PreferredLanes__lane-percentage-bar--low]="l.percentage <= 25"
        [style.height.px]="Math.ceil(20*l.percentage/100)"
        [style.top.px]="(-3)+(20-Math.ceil(20*l.percentage/100))"
    >&nbsp;&nbsp;&nbsp;</span>
  </span>
  <span
      *ngIf="check_autofill && chosen_lane && preferred_lanes.map(mapToLaneName).indexOf(chosen_lane) === -1"
      class="PreferredLanes__autofill-infotext"
  >
    {{gettext('unlucky_autofill')}}
  </span>
</span>