<div class="Participant">
  <div class="Participant__description">
    <span class="Participant__description-name">{{player.summoner_name}}</span>
    <span
        *ngIf="gamehistory !== null"
        class="Participant__description-games-total"
    >({{gamehistory.length}} games total in {{
      queues_to_look_up === GameType.SOLO_AND_FLEXQUEUE ?
        'solo & flex' : queues_to_look_up === GameType.SOLO_QUEUE ?
          'soloqueue' : 'flexqueue'}})</span>
  </div>
  <div class="Participant__summary">
    <div class="Participant__lane-mains">
      <span *ngIf="loading_player_data">Loading player's account data ...</span>
      <span *ngIf="loading_gamehistory">Loading player's game history ...</span>
      <span *ngIf="preferred_lanes">
        <span>{{gettext('preferred_lanes')}}:</span>
        <br/>
        <span *ngFor="let l of preferred_lanes; let i = index" class="Participant__lane-main">
          <img *ngIf="l.lane_name === 'TOP'" src="{{top_lane_queue_img_uri}}" title="{{l.lane_name}}" />
          <img *ngIf="l.lane_name === 'JUNGLE'" src="{{jungle_lane_queue_img_uri}}" title="{{l.lane_name}}" />
          <img *ngIf="l.lane_name === 'MID'" src="{{mid_lane_queue_img_uri}}" title="{{l.lane_name}}" />
          <img *ngIf="l.lane_name === 'BOTTOM'" src="{{bottom_lane_queue_img_uri}}" title="{{l.lane_name}}" />
          <span class="Participant__lane-main-percentages">({{l.percentage}}%)</span>
        </span>
      </span>
    </div>
    <div class="Participant__champion-icon-container">
      <img class="Participant__champion-icon" src="{{player.champion.images.square_url}}" />
    </div>
    <div class="Participant__summoner-spells">
      <summoner-spell-icon [summoner_spell]="player.summonerspell_1"></summoner-spell-icon>
      <summoner-spell-icon [summoner_spell]="player.summonerspell_2"></summoner-spell-icon>
    </div>
  </div>
  <participant-played-champions
      *ngIf="gamehistory !== null"
      [currently_played_champion]="player.champion"
      [gamehistory]="gamehistory"
      [champions]="champions">
  </participant-played-champions>
</div>