<app-setup (setupReady)="handleSetupReady($event)">
  <nav *ngIf="is_setup_ready && !is_konami_triggered">
    <a routerLink="/match" routerLinkActive="active">Match</a>
  </nav>

  <nav *ngIf="is_setup_ready && is_konami_triggered">
    <a routerLink="/match" routerLinkActive="active">Match</a>
    <a routerLink="/summoner" routerLinkActive="active">Profiling</a>
    <a routerLink="/debug" routerLinkActive="active">Debug</a>
  </nav>
</app-setup>

<router-outlet></router-outlet>

<konami (konamiTriggered)="handleKonamiTriggered($event)"></konami>