<div class="ChatParser">
  <p class="ChatParser__header">
    <span class="ChatParser__header-text">PRE-GAME CONTROLS</span>
    <button class="ChatParser__header-toggle-btn" (click)="minimized = !minimized">
      {{gettext(minimized ? 'show_more' : 'show_less')}}
    </button>
  </p>

  <div *ngIf="!minimized" class="ChatParser__primary-controls">
    <label class="ChatParser__chat">
      <span class="ChatParser__chat-helper-text">1a) Copy and paste champion-selection chat here</span>
      <textarea
          class="ChatParser__chat-paste-area"
          [(ngModel)]="chat_content"
          placeholder="{{
        'Cueball joined the lobby'
        + '                    '
        + 'Megan joined the lobby'
        + '                    '
        + 'Little Bobby Tables joined the lobby'
        + '                    '
        + 'CutiePie joined the lobby'
        + '                    '
        + 'Darling Danish joined the lobby'
      }}"></textarea>
    </label>
    <div class="ChatParser__optional-inputs">
      <label class="ChatParser__self">
        <span class="ChatParser__self-helper-text">1b) <span class="OptionalNotice">&lt;optional&gt;</span> Your own in-game name here</span>
        <span class="ChatParser__self-clarification-text">(Why: No time spent downloading your own match history.)</span>
        <input class="ChatParser__self-paste-input" type="text" [(ngModel)]="user_itself" placeholder="Cueball"/>
      </label>
      <label class="ChatParser__duo-queuer">
        <span class="ChatParser__duo-queuer-helper-text">1c) <span class="OptionalNotice">&lt;optional&gt;</span> Partner's in-game name here</span>
        <span class="ChatParser__duo-queuer-clarification-text">(So no time spent downloading her/his match history.)</span>
        <input class="ChatParser__duo-queuer-paste-input" type="text" [(ngModel)]="duoqueue_partner" placeholder="Megan"/>
      </label>
    </div>
  </div>

  <div *ngIf="!minimized" class="ChatParser__secondary-controls">
    <span class="ChatParser__secondary-controls-helper-text">2) Choose the queue you're in</span>
    <div class="ChatParser__queue-type-selectors">
      <button
          class="ChatParser__queue-type-btn"
          [class.ChatParser__queue-type-btn--selected]="selected_queue === GameType.SOLO_QUEUE"
          (click)="selected_queue = GameType.SOLO_QUEUE"
          [disabled]="this.subscription !== null && !this.subscription.closed">
        SOLO/DUO
      </button>
      <button
          class="ChatParser__queue-type-btn"
          [class.ChatParser__queue-type-btn--selected]="selected_queue === GameType.FLEX_QUEUE_5V5"
          (click)="selected_queue = GameType.FLEX_QUEUE_5V5"
          [disabled]="this.subscription !== null && !this.subscription.closed">
        FLEX 5V5
      </button>
    </div>
    <button
        class="ChatParser__parse-btn"
        (click)="parseChat()"
        [disabled]="chat_content.length === 0 || selected_queue === null || this.subscription !== null && !this.subscription.closed"
    >
      {{errors.length === 0 ? "Start" : "Try again"}}
    </button>
  </div>
</div>
<br/>
<div class="ErrorsContainer">
  <p *ngFor="let error of errors" class="ErrorsContainer__error">{{error}}</p>
</div>