<div class="ChatParser">
  <label class="ChatParser__chat">
    <span class="ChatParser__chat-helper-text">Copy and paste champion-selection chat in here</span>
    <textarea
        class="ChatParser__chat-paste-area"
        [(ngModel)]="chat_content"
        placeholder="{{
        'Herp joined the lobby'
        + '                    '
        + 'Derp joined the lobby'
        + '                    '
        + 'Lé Derpina joined the lobby'
        + '                    '
        + 'CutiePie joined the lobby'
        + '                    '
        + 'Darling Danish joined the lobby'
      }}"></textarea>
  </label>
  <button
      class="ChatParser__parse-btn"
      (click)="chat_content.length > 0 && parseChat()"
      [disabled]="this.subscription !== null && !this.subscription.closed"
  >
    {{errors.length === 0 ? "Start" : "Try again"}}
  </button>
</div>
<div class="ErrorsContainer">
  <p *ngFor="let error of errors" class="ErrorsContainer__error">{{error}}</p>
</div>