<div class="Player">
  <!-- First column -->
  <div class="Player__details">

    <div class="Player__header">
      <div class="Player__header-summoner-icon-container" [hidden]="!display_summoner_icon">
        <img class="Player__header-summoner-icon" src="{{summoner.icon.url}}" />
      </div>

      <div class="Player__header-title">
        <p class="Player__header-title-text">
          <span [style.display]="'inline-block'" [style.vertical-align]="'top'">
            <role-selector
                [style.display]="'inline-block'"
                (selectedRole)="handleSelectedRole($event)">
            </role-selector>
            <br/>
            {{summoner.current_name}}
          </span>
          <span [style.display]="'inline-block'" [style.vertical-align]="'top'" [hidden]="hide_statistics">
            <squarebrace-titled-container *ngIf="soloqueue_games_this_season" class="Player__preferred-lanes-container" [title]="'SOLO/DUO this season'">
              <preferred-lanes
                  [slice_of_gamehistory]="soloqueue_games_this_season"
                  [chosen_lane]="role || null"
                  [check_autofill]="queueing_for === GameType.SOLO_QUEUE">
              </preferred-lanes>
            </squarebrace-titled-container>
            <squarebrace-titled-container *ngIf="flexqueue_games_this_season" class="Player__preferred-lanes-container" [title]="'FLEX 5v5 this season'">
              <preferred-lanes
                  [slice_of_gamehistory]="flexqueue_games_this_season"
                  [chosen_lane]="role || null"
                  [check_autofill]="queueing_for === GameType.FLEX_QUEUE_5V5">
              </preferred-lanes>
            </squarebrace-titled-container>
            <br/>
            <squarebrace-titled-container *ngIf="soloqueue_games_past_3_weeks" class="Player__preferred-lanes-container" [title]="'SOLO/DUO past 3 weeks'">
              <preferred-lanes
                  [slice_of_gamehistory]="soloqueue_games_past_3_weeks"
                  [chosen_lane]="role || null"
                  [check_autofill]="queueing_for === GameType.SOLO_QUEUE">
              </preferred-lanes>
            </squarebrace-titled-container>
            <squarebrace-titled-container *ngIf="flexqueue_games_past_3_weeks" class="Player__preferred-lanes-container" [title]="'FLEX 5v5 past 3 weeks'">
              <preferred-lanes
                  [slice_of_gamehistory]="flexqueue_games_past_3_weeks"
                  [chosen_lane]="role || null"
                  [check_autofill]="queueing_for === GameType.FLEX_QUEUE_5V5">
              </preferred-lanes>
            </squarebrace-titled-container>
          </span>
        </p>
      </div>
    </div>

    <p *ngFor="let e of errors" class="Error">
      {{e}}
    </p>
    <p *ngIf="!current_queue_past_3_weeks" [hidden]="hide_statistics">
      Loading game history...
    </p>

    <previous-games
        *ngIf="current_queue_past_3_weeks"
        [hidden]="hide_statistics"

        [summoner]="summoner"
        [slice_of_gamehistory]="current_queue_past_3_weeks"
        [limit]="15"

        [champions]="champions"
        [items]="items"
        [summonerspells]="summonerspells"

        (loadStart)="loading_ready = false"
        (loaded)="loading_ready = true">
    </previous-games>

  </div>

  <!-- Second column -->
  <div class="Player__rankings" [hidden]="hide_statistics">
    <teammate-league-position
        [summoner]="summoner">
    </teammate-league-position>
  </div>
</div>