%clearfix { &:after { content: " "; display: table; clear: both; } }

:host .Player {
  border-bottom: 2px ridge saddlebrown;
}
:host:first-child .Player {
  border-top: 2px ridge saddlebrown;
}

.Player {
  display: table;
  padding-top: 2px;
  @extend %clearfix;

  &__details {
    float: left;
  }

  &__header {
    @extend %clearfix;
    margin-bottom: 4px;
  }
  /* header float 1/2 */
  &__header-summoner-icon-container {
    float: left;
    width: 50px;
  }
  &__header-summoner-icon {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  /* header float 2/2 */
  &__header-title {
    float: left;
  }
  &__header-title-text {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0;
    margin-left: 5px;
    display: table;
    font-family: "Roboto Mono", monospace;
  }
  &__name-and-role {
    display: inline-block;
    vertical-align: top;
  }
  &__previous-roles {
    display: inline-block;
    vertical-align: top;
  }

  .Error {
    padding: 0;
    margin: 0;
    color: red;
  }

  &__rankings {
    float: left;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 11px;
  }
}