<div class="Player">
  <!-- First column -->
  <div class="Player__details">

    <div class="Player__header">
      <div class="Player__header-summoner-icon-container" [hidden]="!display_summoner_icon">
        <img class="Player__header-summoner-icon" src="{{summoner.icon.url}}" />
      </div>

      <div class="Player__header-title">
        <role-selector
            (selectedRole)="handleSelectedRole($event)">
        </role-selector>
        <p class="Player__header-title-text">
          {{summoner.current_name}}
          <squarebrace-titled-container *ngIf="games_past_3_weeks" [title]="'past 3 weeks'" [style.display]="'inline-block'">
            <preferred-lanes
                [slice_of_gamehistory]="games_past_3_weeks"
                [chosen_lane]="role || null">
            </preferred-lanes>
          </squarebrace-titled-container>
        </p>
      </div>
    </div>

    <p *ngFor="let e of errors" class="Error">
      {{e}}
    </p>

    <previous-games
        *ngIf="games_past_3_weeks"
        [summoner]="summoner"
        [slice_of_gamehistory]="games_past_3_weeks"
        [limit]="15"

        [champions]="champions"
        [items]="items"
        [summonerspells]="summonerspells"

        (loaded)="loading_ready = true">
    </previous-games>

  </div>

  <!-- Second column -->
  <div class="Player__rankings">
    <teammate-league-position
        [summoner]="summoner">
    </teammate-league-position>
  </div>
</div>