%clearfix { &:after { content: " "; display: table; clear: both; } }

:host .Player {
  border-bottom: 2px ridge saddlebrown;
}
:host:first-child .Player {
  border-top: 2px ridge saddlebrown;
}

.Player {
  display: table;
  padding-top: 2px;
  @extend %clearfix;

  /* First column */
  &__summoner-icon-container {
    float: left;
    width: 50px;
  }
  &__summoner-icon {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .Error {
    padding: 0;
    margin: 0;
    color: red;
  }

  /* Second ... */
  &__details {
    float: left;
  }
  &__summoner-details {
    margin-top: 4px;
  }
  &__summoner-name {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    display: inline-block;
    font-family: "Roboto Mono", monospace;
  }

  /* Third ... */
  &__rankings {
    float: left;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
  }
}