<div *ngIf="loaded_rankings && !use_minified">
  <div *ngFor="let ranking of loaded_rankings.sort(sortByQueue)">

    <div *ngIf="ranking.queue === current_queue" class="Ranking">
      <div class="Ranking__header">
        <span *ngIf="ranking.queue === GameType.SOLO_QUEUE" class="Ranking__name">SOLO/DUO</span>
        <span *ngIf="ranking.queue === GameType.FLEX_QUEUE_5V5" class="Ranking__name">FLEX 5v5</span>
        <span *ngIf="ranking.queue === GameType.FLEX_QUEUE_3V3" class="Ranking__name">FLEX 3v3</span>
        <br/>
        <span class="Ranking__tier-name">{{getTierString(ranking)}} {{getSubTierString(ranking)}}</span>
      </div>
      <img class="Ranking__badge" src="{{getTierIconUri(ranking)}}"/>
      <br/>
      <span class="Ranking__league-points">{{ranking.league_points}} LP</span>
      <span *ngIf="ranking.in_series">
        <span class="Ranking_series-position" *ngFor="let letter of ranking.series.progress.split('')">
          <span *ngIf="letter === 'W'">O</span>
          <span *ngIf="letter === 'L'">X</span>
          <span *ngIf="letter === 'N'">...</span>
        </span>
      </span>
      <br/>
      <span class="Ranking__winrate">{{Math.round(ranking.wins / (ranking.wins+ranking.losses) * 100)}}% winrate</span>
      <span class="Ranking__games-total">{{ranking.wins + ranking.losses}} {{gettext('games')}}</span>
    </div>

    <div *ngIf="ranking.queue !== current_queue" class="RankingMinified">
      <div class="RankingMinified__header">
        <span *ngIf="ranking.queue === GameType.SOLO_QUEUE" class="RankingMinified__name">SOLO/DUO</span>
        <span *ngIf="ranking.queue === GameType.FLEX_QUEUE_5V5" class="RankingMinified__name">FLEX 5v5</span>
        <span *ngIf="ranking.queue === GameType.FLEX_QUEUE_3V3" class="RankingMinified__name">FLEX 3v3</span>
        <span class="RankingMinified__tier-name">{{getTierString(ranking)}} {{getSubTierString(ranking)}}</span>
      </div>
      <img class="RankingMinified__badge" src="{{getTierIconUri(ranking)}}"/>
      <span>{{ranking.league_points}} LP</span>
    </div>

  </div>
  <p *ngIf="loaded_rankings.map(mapToQueue).indexOf(GameType.SOLO_QUEUE) === -1" class="UnrankedNotice">
    SOLO/DUO unranked
  </p>
  <p *ngIf="loaded_rankings.map(mapToQueue).indexOf(GameType.FLEX_QUEUE_5V5) === -1" class="UnrankedNotice">
    FLEX 5v5 unranked
  </p>
  <p *ngIf="loaded_rankings.map(mapToQueue).indexOf(GameType.FLEX_QUEUE_3V3) === -1" class="UnrankedNotice">
    FLEX 3v3 unranked
  </p>
</div>

<div *ngIf="loaded_rankings && use_minified">
  <div *ngFor="let ranking of loaded_rankings.sort(sortByQueue)">
    <div *ngIf="ranking.queue === current_queue" class="RankingMinified RankingMinified--current-queue">
      <div class="RankingMinified__header">
        <span class="RankingMinified__tier-name">{{getTierString(ranking)}} {{getSubTierString(ranking)}}</span>
      </div>
      <img class="RankingMinified__badge" src="{{getTierIconUri(ranking)}}"/>
      <span>{{ranking.league_points}} LP</span>
    </div>
  </div>
</div>