.Ranking {
  margin-left: 11px;
  margin-bottom: 11px;

  &__header {
    display: inline-block;
  }
  &__name {
    font-family: Roboto, 'sans-serif';
    position: relative;
    top: 2px;
  }
  &__badge {
    width: 40px;
    height: 40px;
  }

  &__tier-name {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-weight: 700;
    position: relative;
    top: -2px;
  }
  &__league-points {
    font-family: 'Roboto Condensed', 'sans-serif';
    position: relative;
    top: -3px;
  }
  &__series-position {
    font-family: "Roboto Mono", monospace;
  }

  &__games-total {
    font-family: 'Roboto Condensed', 'sans-serif';
  }
  &__winrate {
    font-family: 'Roboto Condensed', 'sans-serif';
  }
}

.RankingMinified {
  margin-left: 11px;
  margin-bottom: 11px;
  font-family: 'Roboto Condensed', 'sans-serif';
  color: #714848;
  &--current-queue {
    color: inherit;
    position: relative;
    top: -11px;

  }

  &__header {
    display: inline-block;
  }
  &__name {
  }
  &__badge {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
  }
  &__tier-name {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.UnrankedNotice {
  padding: 0;
  margin: 0;
  margin-left: 11px;
  margin-bottom: 11px;
  font-family: 'Roboto Condensed', 'sans-serif';
  color: #714848;
}