<div>
  <p *ngIf="loading">
    {{gettext("loading_statistics")}}
  </p>
  <p *ngIf="gamehistory_error_text_key">
    {{gettext(gamehistory_error_text_key) + (gamehistory_error_details ? " ("+gamehistory_error_details+")" : "")}}
    {{gamehistory_error_details}}
  </p>
  <p *ngIf="masterypoints_error_text_key">
    {{gettext(masterypoints_error_text_key) + (masterypoints_error_details ? " ("+masterypoints_error_details+")" : "")}}
    {{masterypoints_error_details}}
  </p>
  <p *ngIf="masterypoints" class="Championmasteries-header">
    <span class="Championmasteries-header__text">Champion masteries</span>
    <button (click)="onClickToggleChampionmasteries()">
      {{masterypoints_toggled ? gettext('minimize') : gettext('show')}}
    </button>
  </p>
  <summoner-champion-mastery-scroller
      *ngIf="masterypoints"
      [hidden]="!masterypoints_toggled"
      [masterypoints]="masterypoints">
  </summoner-champion-mastery-scroller>
  <hr/>
  <p *ngIf="gamehistory" class="Gamehistory-header">
    <span class="Gamehistory-header__text">Game history</span>
    <button (click)="onClickToggleGamehistory()">
      {{gamehistory_toggled ? gettext('minimize') : gettext('show')}}
    </button>
  </p>
  <summoner-gamehistory
      *ngIf="gamehistory"
      [hidden]="!gamehistory_toggled"
      [summoner]="summoner"
      [gamehistory]="gamehistory"
      [champions]="champions"
      [items]="items">
  </summoner-gamehistory>
</div>