<div>
  <p *ngIf="loading">
    {{gettext("loading_statistics")}}
  </p>
  <p *ngIf="gamehistory_error_text_key">
    {{gettext(gamehistory_error_text_key) + (gamehistory_error_details ? " ("+gamehistory_error_details+")" : "")}}
    {{gamehistory_error_details}}
  </p>
  <p *ngIf="masterypoints_error_text_key">
    {{gettext(masterypoints_error_text_key) + (masterypoints_error_details ? " ("+masterypoints_error_details+")" : "")}}
    {{masterypoints_error_details}}
  </p>
  <p *ngIf="masterypoints" class="Masteries-header">
    <span class="Masteries-header__text">Champion masteries</span>
    <button (click)="onClickToggleMasteries()">
      {{masterypoints_toggled ? gettext('minimize') : gettext('show')}}
    </button>
  </p>
  <summoner-champion-mastery-scroller
      *ngIf="masterypoints && masterypoints_toggled"
      [masterypoints]="masterypoints">
  </summoner-champion-mastery-scroller>
  <hr/>
  <div *ngIf="gamehistory">
    <p>{{gamehistory.length}} games total available</p>
    <p>{{getFilteredGames().length}} filtered games</p>
    <p>{{getFilteredLoadedGames().length}} filtered games loaded</p>
    <player-game-preview
        *ngFor="let game of gamehistory"
        class="PlayerGamePreview-container"
        [game_preview]="game"
        [auto_start_loading_details]="autoload_these_games.indexOf(game.game_id) !== -1"
        [summoner]="summoner"
        [champions]="champions"
        [items]="items">
    </player-game-preview>
  </div>
</div>