.Masteries-header {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  font-size: 20px;
  text-align: center;

  &__text {
    text-decoration: underline;
  }
}

.PlayerGamePreview-container {
  display: block;
  margin-top: 5px;
  &:first-child {
    margin-top: 0;
  }
}