<p class="Title">
  {{gettext('firstbloods_in_past')}} {{total_number_of_games}} {{gettext('in_games')}}
  <!--
  <button
      *ngIf="firstblood_records.inflicted_on.length > 0 || firstblood_records.assisted_on.length > 0 || firstblood_records.gave_to.length > 0"
      class="ToggleButton"
      (click)="minimized = !minimized"
  >
    {{gettext(minimized ? 'show_more' : 'show_less')}}
  </button>
  -->
</p>

<div class="FirstbloodSummariesTable">

  <div *ngIf="firstblood_records.inflicted_on.length > 0" class="InflictedFirstbloods FirstbloodSummariesTable__row">
    <div class="FirstbloodSummariesTable__td">
      <span class="InflictedFirstbloods__title FirstbloodSummariesTable__td">
        {{gettext('inflicted_on')}}
      </span>
    </div>
    <div class="FirstbloodSummariesTable__td">
      <span *ngFor="let record of firstblood_records.inflicted_on"
            class="Firstblood"
            [class.Firstblood--assisted-good]="record.assisting_players.length > 0"
      >
        <img
            class="Firstblood__champion-icon"
            src="{{record.other_player.champion.images.square_url}}"
            title="{{
              record.other_player.summoner.current_name + ' (' + record.other_player.border + ' border)'
              + '&#013;&#010;&#013;&#010;'
              + record.self.champion.name + ' had '
              + record.self.summoner_spell1.name + ' and '
              + record.self.summoner_spell2.name + ' at the time.'
            }}"
        /><span class="Firstblood__summonerspell-icons-container">
          <img class="Firstblood__summonerspell-icon" src="{{record.other_player.summoner_spell1.images.square_url}}" />
          <img class="Firstblood__summonerspell-icon" src="{{record.other_player.summoner_spell2.images.square_url}}" />
        </span>
        <span *ngIf="record.assisting_players.length > 0"> &larr; </span>
        <span *ngFor="let assisting of record.assisting_players">
          <img
              class="Firstblood__assisting-champion-icon"
              src="{{assisting.champion.images.square_url}}"
              title="{{assisting.summoner.current_name + ' (' + assisting.border + ' border)'}}"
          /><span class="Firstblood__assisting-summonerspell-icons-container">
            <img class="Firstblood__assisting-summonerspell-icon" src="{{assisting.summoner_spell1.images.square_url}}" />
            <img class="Firstblood__assisting-summonerspell-icon" src="{{assisting.summoner_spell2.images.square_url}}" />
          </span>
        </span>
      </span>
    </div>
  </div>

  <div *ngIf="firstblood_records.assisted_on.length > 0" class="AssistedFirstbloods FirstbloodSummariesTable__row">
    <div class="FirstbloodSummariesTable__td">
      <span class="AssistedFirstbloods__title">
        {{gettext('assisted_on')}}
      </span>
    </div>
    <div class="FirstbloodSummariesTable__td">
      <span *ngFor="let record of firstblood_records.assisted_on"
            class="Firstblood"
            [class.Firstblood--assisted-good]="record.assisting_players.length > 0"
      >
        <img
            class="Firstblood__champion-icon"
            src="{{record.other_player.champion.images.square_url}}"
            title="{{
              record.other_player.summoner.current_name + ' (' + record.other_player.border + ' border)'
              + '&#013;&#010;&#013;&#010;'
              + record.self.champion.name + ' had '
              + record.self.summoner_spell1.name + ' and '
              + record.self.summoner_spell2.name + ' at the time.'
            }}"
        /><span class="Firstblood__summonerspell-icons-container">
          <img class="Firstblood__summonerspell-icon" src="{{record.other_player.summoner_spell1.images.square_url}}" />
          <img class="Firstblood__summonerspell-icon" src="{{record.other_player.summoner_spell2.images.square_url}}" />
        </span>
        <span> &larr; </span>
        <img
            class="Firstblood__champion-icon"
            src="{{record.scoring_player.champion.images.square_url}}"
            title="{{record.scoring_player.summoner.current_name + ' (' + record.scoring_player.border + ' border)'}}"
        /><span class="Firstblood__summonerspell-icons-container">
          <img class="Firstblood__summonerspell-icon" src="{{record.scoring_player.summoner_spell1.images.square_url}}" />
          <img class="Firstblood__summonerspell-icon" src="{{record.scoring_player.summoner_spell2.images.square_url}}" />
        </span>
        <span *ngIf="record.assisting_players.length > 0"> + </span>
        <span *ngFor="let assisting of record.assisting_players">
          <img
              class="Firstblood__assisting-champion-icon"
              src="{{assisting.champion.images.square_url}}"
              title="{{assisting.summoner.current_name + ' (' + assisting.border + ' border)'}}"
          /><span class="Firstblood__assisting-summonerspell-icons-container">
            <img class="Firstblood__assisting-summonerspell-icon" src="{{assisting.summoner_spell1.images.square_url}}" />
            <img class="Firstblood__assisting-summonerspell-icon" src="{{assisting.summoner_spell2.images.square_url}}" />
          </span>
        </span>
      </span>
    </div>
  </div>

  <div *ngIf="firstblood_records.gave_to.length > 0" class="GivenFirstbloods FirstbloodSummariesTable__row">
    <div class="FirstbloodSummariesTable__td">
      <span class="GivenFirstbloods__title">
        {{gettext('gave_to')}}
      </span>
    </div>
    <div class="FirstbloodSummariesTable__td">
      <span *ngFor="let record of firstblood_records.gave_to"
            class="Firstblood"
            [class.Firstblood--assisted-bad]="record.assisting_players.length > 0"
      >
        <img
            class="Firstblood__champion-icon"
            *ngIf="record.other_player"
            src="{{record.other_player.champion.images.square_url}}"
            title="{{
              record.other_player.summoner.current_name + ' (' + record.other_player.border + ' border)'
              + '&#013;&#010;&#013;&#010;'
              + record.self.champion.name + ' had '
              + record.self.summoner_spell1.name + ' and '
              + record.self.summoner_spell2.name + ' at the time.'
            }}"
        /><span class="Firstblood__summonerspell-icons-container">
          <img class="Firstblood__summonerspell-icon" src="{{record.other_player.summoner_spell1.images.square_url}}" />
          <img class="Firstblood__summonerspell-icon" src="{{record.other_player.summoner_spell2.images.square_url}}" />
        </span>
        <span *ngIf="record.assisting_players.length > 0"> + </span>
        <span *ngFor="let assisting of record.assisting_players">
          <img
              class="Firstblood__assisting-champion-icon"
              src="{{assisting.champion.images.square_url}}"
              title="{{assisting.summoner.current_name + ' (' + assisting.border + ' border)'}}"
          /><span class="Firstblood__assisting-summonerspell-icons-container">
            <img class="Firstblood__assisting-summonerspell-icon" src="{{assisting.summoner_spell1.images.square_url}}" />
            <img class="Firstblood__assisting-summonerspell-icon" src="{{assisting.summoner_spell2.images.square_url}}" />
          </span>
        </span>
      </span>
    </div>
  </div>

</div>

