.clearfix { &:after { content: " "; display: table; clear: both; } }
.float-left { float: left; }

.Profiling{
  &__summoner-selector-container {

  }

  &__selected-summoner {

  }
  &__selected-summoner-icon-container {
    width: 50px;
  }
  &__selected-summoner-icon {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  &__selected-summoner-details {

  }
  &__selected-summoner-name {
    margin: 0;
    padding: 0;
    margin-top: 6px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
  }
  &__selected-summoner-id {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    font-family: 'Roboto Condensed', sans-serif;
  }
}