<div class="Profiling">
  <app-summoner-selector
      class="Profiling__summoner-selector-container"
      [region]="current_region"
      (selectedSummoner)="handleSummonerChanged($event)">
  </app-summoner-selector>
  <div *ngIf="selected_summoner" class="Profiling__profile-target-container">
    <summoner
        [summoner]="selected_summoner">
    </summoner>
    <app-profile-type-selector
        (selectedProfileType)="handleProfileTypeChanged($event)">
    </app-profile-type-selector>
  </div>
  <div>
    <current-game
        *ngIf="selected_profile_type == profileTypeEnum.CURRENT_GAME"
        [champions]="champions"
        [items]="items"
        [summonerspells]="summonerspells"
        [summoner]="selected_summoner">
    </current-game>
    <summoner-statistics
        *ngIf="selected_profile_type == profileTypeEnum.HISTORICAL"
        [champions]="champions"
        [items]="items"
        [summonerspells]="summonerspells"
        [summoner]="selected_summoner">
    </summoner-statistics>
    <p *ngIf="selected_profile_type == profileTypeEnum.THIRD_PLACEHOLDER">
      3rd placeholder (TODO / testing dynamic ProfileTypes)
    </p>
    <p *ngIf="selected_profile_type == profileTypeEnum.FOURTH_PLACEHOLDER">
      4th placeholder (TODO / testing dynamic ProfileTypes)
    </p>
  </div>
</div>
