.clearfix { &:after { content: " "; display: table; clear: both; } }
.float-left { float: left; }

.Profiling{
  &__summoner-selector-container {  }
  &__profile-target-container {
    display: table;
    margin: 20px auto;
    padding: 15px 20px;
    box-shadow: 3px 3px 2px darkgrey inset, 0 0 2px darkgrey inset;
  }
}