.PreviousRoles {
  display: table;
  &__row {
    display: table-row;
  }
  &__cell {
    display: table-cell;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
  }
}

.PreviousRolesTextmode {
  display: table;
  &__summary {
    display: table;
    font-size: 14px;
    font-family: 'Roboto Condensed', 'sans-serif';
    white-space: pre-line;
  }
  &__warning {
    display: table;
    color: red;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Roboto Condensed', 'sans-serif';
  }
}