<p *ngIf="!initial_preferences_loaded">
  . . .
</p>

<div *ngIf="initial_preferences_loaded && !initialised" class="InitialSetup">
  <app-language-selector
      class="InitialSetup__language-selector-container"
      [is_initial]="true"
      [active_language]="current_language_code"
      (selectedLanguage)="changeLanguage($event)">
  </app-language-selector>
  <app-region-selector
      class="InitialSetup__region-selector-container"
      [is_initial]="true"
      [active_region]="current_region"
      (selectedRegion)="changeRegion($event)">
  </app-region-selector>
</div>

<div *ngIf="initial_preferences_loaded && initialised" class="HeaderSetup">
  <app-region-selector
      class="HeaderSetup__region-selector-container"
      [is_initial]="false"
      [active_region]="current_region"
      (selectedRegion)="changeRegion($event)">
  </app-region-selector>
  <ng-content select="nav"></ng-content>
  <app-language-selector
      class="HeaderSetup__language-selector-container"
      [is_initial]="false"
      [active_language]="current_language_code"
      (selectedLanguage)="changeLanguage($event)">
  </app-language-selector>
</div>