<div *ngIf="current_game && current_game.game_type !== GameType.UNKNOWN_UNDEFINED" class="CurrentGame">

  <label *ngIf="current_game.game_type === GameType.SOLO_QUEUE"
         class="CurrentGame__control"
         [class.CurrentGame__control--disabled]="!all_gamehistories_ready"
         [class.CurrentGame__control--enabled]="all_gamehistories_ready">
    <input type="checkbox" [(ngModel)]="show_also_secondary_queue_stats" [disabled]="!all_gamehistories_ready" />
    Show also Flexqueue's stats?
  </label>
  <label *ngIf="current_game.game_type === GameType.FLEX_QUEUE_5V5"
         class="CurrentGame__control"
         [class.CurrentGame__control--disabled]="!all_gamehistories_ready"
         [class.CurrentGame__control--enabled]="all_gamehistories_ready">
    <input type="checkbox" [(ngModel)]="show_also_secondary_queue_stats" [disabled]="!all_gamehistories_ready"/>
    Show also Soloqueue's stats?
  </label>

  <div>
    {{!all_gamehistories_ready ? "(Loading...)" : ""}}
  </div>

  <br/>
  <div *ngFor="let i of [0,1,2,3,4]" class="CurrentGame__laners-container">
    <current-game-participant-statistics
        class="CurrentGame__laner CurrentGame__laner--ally"
        (signalGamehistoryLoading)="handleGamehistoryLoading(current_game.allies[i].summoner_id)"
        (signalGamehistoryLoaded)="handleGamehistoryLoaded(current_game.allies[i].summoner_id)"
        [player]="current_game.allies[i]"
        [spectatorcache_id]="current_game.game_id"
        [region]="current_game.looked_up_summoner.region"
        [gametype]="current_game.game_type"
        [show_also_secondary_queue_stats]="show_also_secondary_queue_stats"

        [champions]="champions"
        [items]="items"
        [summonerspells]="summonerspells">
    </current-game-participant-statistics>
    <current-game-participant-statistics
        class="CurrentGame__laner CurrentGame__laner--enemy"
        (signalGamehistoryLoading)="handleGamehistoryLoading(current_game.enemies[i].summoner_id)"
        (signalGamehistoryLoaded)="handleGamehistoryLoaded(current_game.enemies[i].summoner_id)"
        [player]="current_game.enemies[i]"
        [spectatorcache_id]="current_game.game_id"
        [region]="current_game.looked_up_summoner.region"
        [gametype]="current_game.game_type"
        [show_also_secondary_queue_stats]="show_also_secondary_queue_stats"

        [champions]="champions"
        [items]="items"
        [summonerspells]="summonerspells">
    </current-game-participant-statistics>
  </div>
</div>