<div class="Mastery">
  <p class="Mastery__champion-name">{{mastery.champion.name}}</p>
  <p class="Mastery__champion-last-played-time">{{gettext("last_played")}} {{getTimeAgoAsString(mastery.last_play_time)}}</p>
  <div class="clearfix">
    <div class="Mastery__champion-icon-container float-left">
      <img class="Mastery__champion-icon" src="{{mastery.champion.images.square_url}}"/>
    </div>
    <div class="Mastery__infographics-container float-left">
      <div class="Mastery__infographics clearfix">
        <div class="Mastery__level float-left">
          {{mastery.level}}
        </div>
        <div class="Mastery__point-counts float-left">
          <div class="Mastery__points-total"
               [class.Mastery__points-total--bigger]="mastery.level == 7"
               title="Total {{mastery.total_points | emphasiseThousands}} pts">
            + {{mastery.points_since_last_level | emphasiseThousands}} pts
          </div>
          <div *ngIf="mastery.level < 5" class="Mastery__points-until-next-level">
            {{mastery.points_until_next_level}} pts 4next
            ({{Math.floor(mastery.points_since_last_level/(mastery.points_since_last_level+mastery.points_until_next_level)*100)}}% done)
          </div>
          <div *ngIf="mastery.level == 5" class="Mastery__s_minus_tokens_remaining">
            <img
                *ngFor="let i of Array(mastery.tokens_earned_for_next_level)"
                class="Mastery__token"
                title="{{mastery.tokens_earned_for_next_level}} / 2 {{gettext('tokens_acquired')}}"
                src="{{masterytoken_6_have_img_uri}}"
            /><img
              *ngFor="let i of Array(2-mastery.tokens_earned_for_next_level)"
              class="Mastery__token"
              title="{{mastery.tokens_earned_for_next_level}} / 2 {{gettext('tokens_acquired')}}"
              src="{{masterytoken_6_need_img_uri}}"
          />
          </div>
          <div *ngIf="mastery.level == 6" class="Mastery__s_tokens_remaining">
            <img
                *ngFor="let i of Array(mastery.tokens_earned_for_next_level)"
                class="Mastery__token"
                title="{{mastery.tokens_earned_for_next_level}} / 3 {{gettext('tokens_acquired')}}"
                src="{{masterytoken_7_have_img_uri}}"
            /><img
              *ngFor="let i of Array(3-mastery.tokens_earned_for_next_level)"
              class="Mastery__token"
              title="{{mastery.tokens_earned_for_next_level}} / 3 {{gettext('tokens_acquired')}}"
              src="{{masterytoken_7_need_img_uri}}"
            />
          </div>
        </div>
      </div>
      <div class="Mastery__misc_infographics">
        <span *ngIf="mastery.level >= 4">
          <img src="{{masteryemote_img_uri}}" title="{{gettext('emote_available')}}"/>
        </span>
        <span *ngIf="mastery.chest_acquired">
          <img src="{{chestacquired_img_uri}}" title="{{gettext('chest_acquired')}}"/>
        </span>
      </div>
    </div>
  </div>
</div>