%clearfix { &:after { content: ' '; display: table; clear: both; } }

$lane-main-green: #60aa60;
$lane-main-yellow: #ffb40d;
$lane-main-red: #b13535;

.Participant {
  margin-bottom: 5px;

  &__description {
    margin-bottom: 2px;
  }
  &__description-name {
    font-family: "Roboto Mono", monospace;
  }
  &__description-games-total {
    font-size: 18px;
    font-family: 'Roboto Condensed', 'sans-serif';
  }

  &__summary {
    @extend %clearfix;
    display: table;
  }

  /* 3/3 floated right but first from up */
  &__lane-mains {
    float: right;
    margin-left: 32px;
    font-family: Roboto, 'sans-serif';
  }
  // Inline text (spans) and icons
  &__lane-mains-content {
    position: relative;
    top: 1em;
  }
  &__lane-mains-content-title {
    position: relative;
    top: -0.5em;
  }
  &__lane-main{
    text-transform: lowercase;

    &--current-high {
      border-bottom: 2px solid $lane-main-green;
      box-shadow:
              0 1px 0 0 rgba($lane-main-green, 0.7),
              0 2px 0 0 rgba($lane-main-green, 0.4);
    }

    &--current-medium {
      border-bottom: 2px solid $lane-main-yellow;
      box-shadow:
              0 1px 0 0 rgba($lane-main-yellow, 0.7),
              0 2px 0 0 rgba($lane-main-yellow, 0.4);
    }

    &--current-low {
      border-bottom: 2px solid $lane-main-red;
      box-shadow:
              0 1px 0 0 rgba($lane-main-red, 0.7),
              0 2px 0 0 rgba($lane-main-red, 0.4);
    }
  }
  &__lane-main-percentages-bar {
    position: relative;
    display: inline-block;
    &--high {
      background: $lane-main-green;
    }
    &--medium {
      background: $lane-main-yellow;
    }
    &--low {
      background: $lane-main-red;
    }
  }
  &__lane-main-percentages {
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    position: relative;
    top: -16px;
  }
  &__lane-main-autofill-infotext {
    position: relative;
    top: -6px;
    left: 10px;
    font-family: Roboto, 'sans-serif';
    font-size: 20px;
    color: $lane-main-red;
    box-shadow: 0px 0 2px 1px $lane-main-red;
  }

  /* 1/3 */
  &__champion-icon-container {
    float: left;
    width: 50px;
    height: 50px;
    margin: 4px;
  }
  &__champion-icon {
    width: 100%; height: auto;
    border-radius: 50%;
    border: 2px groove #9c6f1b;
  }

  /* 2/3 */
  &__summoner-spells {
    float: left;
    margin-top: 6px;
    margin-left: 1px;
  }
}