.Container {
  display: table;
  &__title{
    padding: 0;
    margin: 0;
    text-align: center;
    &--caption-like {
      display: table-caption;
    }
  }
  &__pseudo-underline {
    width: 100%;
    height: 6px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}