<div>
  <p>{{gamehistory.length}} games total available</p>
  <p>{{getFilteredGames().length}} filtered games</p>
  <p>{{getFilteredLoadedGames().length}} filtered games loaded</p>
  <player-game-preview
      *ngFor="let game of gamehistory"
      class="PlayerGamePreview-container"
      [game_preview]="game"
      [auto_start_loading_details]="autoload_these_games.indexOf(game.game_id) !== -1"
      [summoner]="summoner"
      [champions]="champions"
      [items]="items">
  </player-game-preview>
</div>